@bus_major

#N
clk
rst_n
bidir_in\[\d+\]
bidir_out\[\d+\]
bidir_oe\[\d+\]
bidir_ie\[\d+\]

#W
input_in(\[\d+\])?
input_pu(\[\d+\])?
input_pd(\[\d+\])?
bidir_cs\[\d+\]
bidir_sl\[\d+\]
bidir_pu\[\d+\]
bidir_pd\[\d+\]
