@bus_major

#N
bidir_in\[\d+\]
bidir_oe\[\d+\]
bidir_ie\[\d+\]

#S
bidir_out\[\d+\]

#W
clk
rst_n
input_in(\[\d+\])?
input_pu(\[\d+\])?
input_pd(\[\d+\])?
bidir_cs\[\d+\]
bidir_sl\[\d+\]
bidir_pu\[\d+\]
bidir_pd\[\d+\]
