@bus_major

#S
uart_tx
gpio_0_bidir_in
gpio_0_bidir_out
gpio_0_bidir_oe
gpio_0_bidir_ie
gpio_0_bidir_cs
gpio_0_bidir_pu
gpio_0_bidir_pd
gpio_0_bidir_sl
gpio_1_bidir_in
gpio_1_bidir_out
gpio_1_bidir_oe
gpio_1_bidir_ie
gpio_1_bidir_cs
gpio_1_bidir_pu
gpio_1_bidir_pd
gpio_1_bidir_sl
gpio_2_bidir_in
gpio_2_bidir_out
gpio_2_bidir_oe
gpio_2_bidir_ie
gpio_2_bidir_cs
gpio_2_bidir_pu
gpio_2_bidir_pd
gpio_2_bidir_sl
gpio_3_bidir_in
gpio_3_bidir_out
gpio_3_bidir_oe
gpio_3_bidir_ie
gpio_3_bidir_cs
gpio_3_bidir_pu
gpio_3_bidir_pd
gpio_3_bidir_sl
gpio_4_bidir_in
gpio_4_bidir_out
gpio_4_bidir_oe
gpio_4_bidir_ie
gpio_4_bidir_cs
gpio_4_bidir_pu
gpio_4_bidir_pd
gpio_4_bidir_sl
gpio_5_bidir_in
gpio_5_bidir_out
gpio_5_bidir_oe
gpio_5_bidir_ie
gpio_5_bidir_cs
gpio_5_bidir_pu
gpio_5_bidir_pd
gpio_5_bidir_sl

#E
gpio_6_bidir_in
gpio_6_bidir_out
gpio_6_bidir_oe
gpio_6_bidir_ie
gpio_6_bidir_cs
gpio_6_bidir_pu
gpio_6_bidir_pd
gpio_6_bidir_sl
gpio_7_bidir_in
gpio_7_bidir_out
gpio_7_bidir_oe
gpio_7_bidir_ie
gpio_7_bidir_cs
gpio_7_bidir_pu
gpio_7_bidir_pd
gpio_7_bidir_sl
gpio_8_bidir_in
gpio_8_bidir_out
gpio_8_bidir_oe
gpio_8_bidir_ie
gpio_8_bidir_cs
gpio_8_bidir_pu
gpio_8_bidir_pd
gpio_8_bidir_sl
gpio_9_bidir_in
gpio_9_bidir_out
gpio_9_bidir_oe
gpio_9_bidir_ie
gpio_9_bidir_cs
gpio_9_bidir_pu
gpio_9_bidir_pd
gpio_9_bidir_sl

#N
gpio_10_bidir_in
gpio_10_bidir_out
gpio_10_bidir_oe
gpio_10_bidir_ie
gpio_10_bidir_cs
gpio_10_bidir_pu
gpio_10_bidir_pd
gpio_10_bidir_sl
gpio_11_bidir_in
gpio_11_bidir_out
gpio_11_bidir_oe
gpio_11_bidir_ie
gpio_11_bidir_cs
gpio_11_bidir_pu
gpio_11_bidir_pd
gpio_11_bidir_sl
gpio_12_bidir_in
gpio_12_bidir_out
gpio_12_bidir_oe
gpio_12_bidir_ie
gpio_12_bidir_cs
gpio_12_bidir_pu
gpio_12_bidir_pd
gpio_12_bidir_sl
gpio_13_bidir_in
gpio_13_bidir_out
gpio_13_bidir_oe
gpio_13_bidir_ie
gpio_13_bidir_cs
gpio_13_bidir_pu
gpio_13_bidir_pd
gpio_13_bidir_sl
gpio_14_bidir_in
gpio_14_bidir_out
gpio_14_bidir_oe
gpio_14_bidir_ie
gpio_14_bidir_cs
gpio_14_bidir_pu
gpio_14_bidir_pd
gpio_14_bidir_sl
gpio_15_bidir_in
gpio_15_bidir_out
gpio_15_bidir_oe
gpio_15_bidir_ie
gpio_15_bidir_cs
gpio_15_bidir_pu
gpio_15_bidir_pd
gpio_15_bidir_sl

#W
clk
rst_n
uart_rx
